@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Colors */
  --color-bg: #070f2b;
  --secondary-color: #1b1a55;
  --third-color: #535c91;
  --color-text: white;
  --color-undertext: rgb(197, 197, 197);
  --color-btn: #9290c3;

  --border: solid 1px white;

  /* Font */
  font-family: "Roboto", sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
}

/* Container */
#container {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

/* Sidebar */
.sidebar {
  border: var(--border);
}

.content {
  border: var(--border);
  display: grid;
  grid-template-rows: 1fr 8fr;
}

/* Header */
.header div {
    border: var(--border);
}

.header {
    border: var(--border);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

article {
    border: var(--border);
    /* display: grid;
    grid-template-columns: 3fr 1fr; */
}

.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Cards */
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    align-content: center;
}

.card {
    border: var(--border);
    height: 200px;
}

/* Announcements (News + Trending) */
.news {
    border: var(--border);
    display: grid;
    grid-template-rows: 1fr 1fr;
}
